body {
     font-family: "Helvetica", "Roboto";
}

h1 {
    margin: 0;

    font-size: 35pt;
    font-weight: 700;
    color: #424242;
}

h2 {
    margin: 25px 0 0 0;

    font-size: 20pt;
    font-weight: 700;
}

.header {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    height: 35px;
    width: 35px;
    margin: 0 15px 0 0px;
    border-radius: 0;
}

.top-border {
    position: absolute;
    height: 10px;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;

    background-color: #424242;
}

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 20px;

    /* taken from https://stackoverflow.com/a/22278778 */
    position: fixed;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.image {
    border-radius: 10px;
}

.wide {
    display: inline-flex;
    gap: 25px;
}

.flex-item {
    max-width: 100%;
    overflow: hidden;
}

.narrow {
    width: 50%;
    height: 350px;
    overflow: inherit;
    border-radius: 10px;

    background-color: #E9EAEC;
}

.text {
    padding: 0 25px;
    line-height: 1.6em;
}

img {
    height: 190px;
    width: 120%;
    margin-left: -10%;

    object-fit: cover;
    object-position: 0 98%;
}

pre {
    height: 100%;
    margin-top: -5px;
    
    background-color: #424242;
    color: #E9EAEC;
    font-size: 12pt;
    line-height: 1.5em;
}
